.stats {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.button-container {
  display: flex;
  flex-direction: row;
}

.form {
  margin-bottom: 5rem;
}

.inline-field {
  min-width: 2rem;
}
