.current-row {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.tab {
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding-left: 3rem;
}

.inline-field {
  min-width: 0.5rem;
  max-width: 15rem;
}
input {
  text-decoration: underline;
}