.current-row {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.tab {
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding-left: 3rem;
  gap: 1.25rem;
}

.inline-field {
  min-width: 12rem;
  &_small {
    min-width: 1.5rem;
  }
  max-width: 15rem;
}

input {
  text-decoration: underline;
}

.text-field {
  width: 20rem;
}

.info-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.actions {
  display: flex;
  justify-content: center;
}

.error {
  color: #ff4d4f;
  font-size: 12px;
  margin-left: 8px;
}

input.ng-invalid.ng-touched,
select.ng-invalid.ng-touched {
  border-color: #ff4d4f;
}
