span {
  margin-left: 5rem;
  margin-right: 5rem;
}

table {
  inline-size: 100%;
  padding-top: 2rem;

  tr {
    block-size: 2.8125rem;
  }

  td {
    &:first-child {
      inline-size: 10rem;
      font-weight: bold;
    }

    &:last-child {
      inline-size: 3rem;
    }
  }
}

.viewport {
  block-size: 100vh;
}

.scrollbar {
  width: 100%;
}

.add-row {
  width: 100%;
  border-radius: 0;
}

.button-container {
  display: flex;
  width: 3.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  gap: 2rem;
}